/* Style the form */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #F8F8F8 0% 0% no-repeat padding-box;
  
}
 
  h2{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px ;
    letter-spacing: 0px;
    color: #0C2874;
  }

.tab {
  display: none;
}

input.invalid {
  border: 1px solid red;
}
input[type="checkbox"].invalid + label::before {
  border-color: red; /* Cor da borda quando a checkbox é inválida */
  background-color: white; /* Cor de fundo quando a checkbox é inválida */
}


img{
  
  width: 188px;
  height: 74px;
  opacity: 1;
}

.logo{
  padding: 15px;
  position:absolute;
  top: 76px;
  left: 74px;
  width: 150px;
  height: 65px;
 
  border-radius: 26px;
  opacity: 1;
  display: flex; 
  justify-content: center;
  
}

.step {
  width: 20px;
  height: 20px;
  background-color: #bbbbbb;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  margin: 0 2px;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #FFFFFF;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

button#prevBtn {
  float: left;
}

button#nextBtn {
  float: right;
}

#regForm {
  border: 2px solid #98A6B9;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 15px 15px 25px #00000029;
  position:absolute;
  width: 40%;
  height:auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding:80px;
  padding-left:60px;
  padding-top:30px;
  border-radius:15px;
  } 
  
  label{
    color: #0C2874;
    font-size:18px;
    position: relative;
    
    cursor: pointer;
    
  }
  .label_conf{
    color: #0C2874;
    font-size:18px;
    position: relative;
    padding-left: 30px; /* Espaçamento para a checkbox personalizada */
    cursor: pointer;
  }
  .label_conf::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #98A6B9; /* Cor da borda */
    border-radius: 50%; /* Deixa a checkbox redonda */
    background-color: white; /* Cor de fundo da checkbox */
  }
  input[type="checkbox"]:checked + .label_conf::before {
    background-color: #45a049;
    border-color: #4CAF50;

  }
  /* Style the input fields */
  input, select, date {
    
    color:#98A6B9;

    position:relative;
    padding: 15px;
    border: none;
    outline: none;
    border-radius:12px;
    font-size: 15px;
    resize: vertical;
    width:100%;
    
    border: 1px solid #98A6B9;
  }
  input::placeholder{
    color:#98A6B9;
  }
  input[type="checkbox"]{
    display: none;
  }
  
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #fff2f2;
  }
  select.invalid{
    border:solid 1px red;
    background-color: #fff2f2;
    
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #FFFFFF;
    border: 1px solid #279D3F;
    border-radius: 50%;
    display: inline-block;
    opacity: 1;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
    background-color: #279D3F;
  }
  



  @media only screen and (max-width: 600px) {
      
        
    #regForm {
      width: 90%; /* Reduza a largura do formulário */
      padding: 40px; /* Ajuste o preenchimento interno do formulário */
    }
}